@import url("https://fonts.googleapis.com/css2?family=Lobster&family=The+Nautigal:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@400;500;600;700&family=Poppins:wght@300&family=The+Nautigal:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-family: "Lobster", cursive;
  font-family: "The Nautigal", cursive;
  font-size: 8vw;
}
.footer {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
}
.gambar1 {
  text-align: center;
}
.carousel-inner {
  margin-top: 80px;
}
.container {
  font-family: oswald;
  font-size: 20px;
}
